@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>This is an application that lets you enter in a new joke, edit or delete</p>
</div>
